body {
    background-color: #1e293b; 
    font-family: Arial, Helvetica, sans-serif;
    color: #f8fafc; }

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f1f5f9; }

section {
    background-color: #3b82f6; 
    width: 300px;
    height: 500px;
    padding: 14px;
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); 
}

input {
    background-color: #e2e8f0; 
    border-radius: 3px;
    border: none;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 290px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#logar{

    height: 30px;
    width: 299px;

}

#logar:hover{


    background-color: aquamarine;
}