body {
    background-color: #1e293b; 
    font-family: Arial, Helvetica, sans-serif;
    color: #f8fafc;
    justify-content: center;
    align-items: center;
}
    


h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: #f1f5f9; }



.container {
    display: flex;
   justify-content: center;
    align-items: center;
    height: 30vh;
    background-color: #3b82f6; 
}
section{

    background-color: #3b82f6; 
    width: 300px;
    height: 500px;
    padding: 14px;
   


}
